@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600);


.bg-green {
  background-color: #AFDDD1;
  color: #FFFFFF;
}

.text-skinny {
  font-weight: 100;
}

.text-bold {
  font-weight: 600;
}

.text-green {
  color: #AFDDD1;
}

.text-medium {
  font-size: 16px;
}

.text-large {
  font-size: 20px;
}

.go-left {
  float: left;
}

.go-right {
  float: right;
}

.footer {
  text-align: right;
  border-top: 1px solid #e5e5e5;
  background-color: #FFFFFF;
  max-height: 62px;
}

.tag {
  display: inline-block;
  padding: 0 6px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid transparent;
  color: #e6e6e6;
}
.tag-simple {
  background-color: #4A5D58;
  color: #FFFFFF;
}
.tag-inverse {
  background-color: transparent;
  color: #4A5D58;
  border: 1px solid #4A5D58;
}

.list-view{}
.split-list-view {
  vertical-align: middle;
  border-bottom: 1px solid #e5e5e5;
}
.split-list-view:first-child {
  border-top: 1px solid #e5e5e5;
}
.split-list-view img {
  height: 20px;
  vertical-align: middle;
  margin: 0 3px;
}

.split-list-view-left,
.split-list-view-right {
  box-sizing: border-box;
  display: inline-block;
  width:50%;
  padding: 8px;
}
.split-list-view-left {
  text-align: right;
}

.navbar {
  line-height: 55px;
}
.navbar-header {
  color: #999999;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 2.7px;
  font-size: 18px;
  text-align: center;
}

.content {
  padding-bottom: 62px;
}
.content-header {
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
  margin-bottom: 15px;
  font-size: 14px;
}
