@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600);


.bg-green {
  background-color: #AFDDD1;
  color: #FFFFFF;
}

.list-view{}
.split-list-view {
  line-height: 40px;
  vertical-align: middle;
  border-bottom: 1px solid #e5e5e5;
}
.split-list-view:first-child {
  border-top: 1px solid #e5e5e5;
}
.split-list-view img {
  width: 12%;
  vertical-align: middle;
  margin: 0 3px;
}

.split-list-view-left,
.split-list-view-right {
  box-sizing: border-box;
  display: inline-block;
  width:50%;
}
.split-list-view-left {
  text-align: right;
}


.navbar {
  line-height: 55px;
}
.navbar-header {
  color: #999999;
  font-family: 'Lato', sans-serif;
  letter-spacing: 2.7px;
  font-size: 18px;
  text-align: center;
}

.content {}
.content-header {
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
  margin-bottom: 15px;
  font-size: 14px;
}
