.app-content {
  height: 100%;
}

.layout-navbar {
  box-sizing: border-box;
  position: fixed;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 18vh;
  border-bottom: 1px solid #f6f6f6;
  background-color: #FFFFFF;
}

.layout-content {
  height: 78vh;
  margin-top: 18vh;
  margin-bottom: 8vh;
}

.layout-content-no-footer {
  height: 82vh;
}

.layout-footer {
  height: 8vh;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #e5e5e5;
}

.layout-full-height {
  height: 100%;
}

.layout-full-width {
  width: 100%;
}

.layout-constrained {
  display: block;
  width: 70%;
  margin: 0 auto;
}

.layout-color-green {
  background-color: #AFDDD1;
}

.layout-color-blue {
  background-color: #5d9cec;
}

.layout-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

main.layout-flex > div {
  flex-grow: 12;
}

.layout-flex-direction-column {
  flex-direction: column;
}

.layout-flex-center-vertical {
  align-items: center;
  -webkit-align-items: center;
}

.layout-justify-flex-space-between {
  justify-content: space-between;
}

.layout-justify-flex-space-around {
  justify-content: space-around;
}

.layout-justify-flex-end {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

.layout-align-items-flex-end {
  align-items: flex-end;
  -webkit-align-items: flex-end;
}

.layout-align-items-stretch {
  align-items: stretch;
  -webkit-align-items: stretch;
}

.layout-align-self-center {
  align-self: center;
  -webkit-align-self: center;
}

.layout-flex-center {
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}

.layout-flex-grow-1 {
  flex: 1;
}

.layout-flex-grow-2 {
  flex: 2;
}

.layout-flex-grow-4 {
  flex: 4;
}

.layout-flex-grow-6 {
  flex: 6;
}

.layout-flex-grow-8 {
  flex: 8;
}

.layout-flex-grow-9 {
  flex: 9;
}

.layout-flex-grow-10 {
  flex: 10;
}

.layout-flex-grow-11 {
  flex: 11;
}

.layout-flex-self-end {
  align-self: flex-end;
}

.layout-flex-self-start {
  align-self: flex-start;
}
