.layout-navbar {
  line-height: 55px;
}

.layout-content {
  padding-bottom: 60px;
}

.layout-footer {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  text-align: right;
  border-top: 1px solid #e5e5e5;
  background-color: #FFFFFF;
  max-height: 62px;
}

.layout-full-height {
  height: 100vh;
}

.layout-constrained {
  display: block;
  width: 70%;
  margin: 0 auto;
}

.layout-color-green {
  background-color: #AFDDD1;
}

.layout-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}
