.bg-green {
  background-color: #AFDDD1;
  color: #FFFFFF;
}

.bg-blue {
  background-color: #5d9cec;
  color: #fff;
}

.bg-gray {
  background-color: #e5e5e5;
  color: #a1a1a1;
}

.text-skinny {
  font-weight: 100;
}

.text-bold {
  font-weight: 600;
}

.text-green {
  color: #AFDDD1;
}

.text-blue {
  color: #5d9cec;
}

.text-white {
  color: #FFFFFF;
}

.text-medium {
  font-size: 16px;
}

.text-large {
  font-size: 24px;
}

.go-left {
  float: left;
}

.go-right {
  float: right;
}

.plain-link{
  text-decoration: none;
}
