.bg-green {
  background-color: #37bc9b;
  color: #FFFFFF;
}

.bg-bright-green {
  background-color: #00FF00;
  color: #FFFFFF;
}

.bg-warning {
  background-color:  #fc6e51;
  color: #ffffff;
}

.bg-blue {
  background-color: #5d9cec;
  color: #fff;
  word-break: break-all;
}

.bg-gray {
  background-color: #e5e5e5;
  color: #a1a1a1;
}

.bg-light-gray {
  background-color: #f9f9f9;
}

.bg-light-blue {
  background-color: #e6f0fc;
}

.text-skinny {
  font-weight: 100;
}

.text-bolder {
  font-weight: 400;
}

.text-bold {
  font-weight: 600;
}

.text-green {
  color: #AFDDD1 !important;
}

.text-blue {
  color: #5d9cec !important;
}

.text-white {
  color: #FFFFFF !important;
}

.text-gray {
  color: #c1c1c1 !important;
}

.text-up {
  text-transform: uppercase;
}

.text-transform-initial {
  text-transform: initial;
}

.text-x-small {
  font-size: 10px;
}

.text-small {
  font-size: 14px;
}

.text-medium {
  font-size: 16px;
}

.text-large {
  font-size: 24px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-second {
  font-family: 'Lato', sans-serif;
}

.go-left {
  float: left;
}

.go-right {
  float: right;
}

.scroll-y {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.translate-left-20 {
  transform: translateX(-20px);
}
