.bg-green {
  background-color: #AFDDD1;
  color: #FFFFFF;
}

.bg-bright-green {
  background-color: #00FF00;
  color: #FFFFFF;
}

.bg-blue {
  background-color: #5d9cec;
  color: #fff;
  word-break: break-all;
}

.bg-gray {
  background-color: #e5e5e5;
  color: #a1a1a1;
}

.bg-light-blue {
  background-color: #e6f0fc;
}

.text-skinny {
  font-weight: 100;
}

.text-bolder {
  font-weight: 400;
}

.text-bold {
  font-weight: 600;
}

.text-green {
  color: #AFDDD1;
}

.text-blue {
  color: #5d9cec;
}

.text-white {
  color: #FFFFFF;
}

.text-gray {
  color: #c1c1c1;
}

.text-up {
  text-transform: uppercase;
}

.text-x-small {
  font-size: 10px;
}

.text-small {
  font-size: 12px;
}

.text-medium {
  font-size: 16px;
}

.text-large {
  font-size: 24px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-second {
  font-family: 'Lato', sans-serif;
}

.go-left {
  float: left;
}

.go-right {
  float: right;
}

.scroll-y {
  overflow-y: scroll;
}
