.pulse {
  animation-name: pulse;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

.slide-left {
  animation-name: slide-left;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.slide-right {
  animation-name: slide-right;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.delay-slide-in-bottom {
  position: relative;
  animation-name: delay-slide-in-bottom;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
}

.delay-fade-in {
  animation-name: delay-fade-in;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
}

@keyframes delay-fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes delay-slide-in-bottom {
  0% {
    top: 100px;
  }
  50% {
    top: 100px;
  }
  100% {
    top: 0;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(0) scale(1);
    display: inline-block;
  }
  50% {
    transform: translateX(-15px) scale(0.4);
    opacity: 1
  }
  90% {
    transform: translateX(-25px) scale(0.8);
    opacity: 0.2
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-20px) scale(1);
    display: inline-block;
  }
  50% {
    transform: translateX(-5px) scale(0.4);
    opacity: 1
  }
  90% {
    transform: translateX(5px) scale(0.8);
    opacity: 0.2
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.4);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
