.button {
  border: 1px solid transparent;
  padding: 6px 0;
  border-radius: 6px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
  outline: 0;
}

.button-split {
  width:100%;
  text-align: center;
  padding: 5px 8px;
  border-top: 1px solid #5d9cec;
  border-bottom: 1px solid #5d9cec;
  text-decoration: none;
  color: #5d9cec;
}

.button-split + .button-split {
  border-left: 1px solid #5d9cec;
}

.button-split:first-child {
  border-left: 1px solid #5d9cec;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.button-split:last-child {
  border-right: 1px solid #5d9cec;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.button-full-width {
  width: 100%;
}

.button-submit {
  display: block;
  background-color: #4a89dc;
  color: white;
}
