.list-item{
  border-bottom: 1px solid #f6f6f6;
}

.list-item a {
  padding: 15px;
  color: inherit;
  text-decoration: none;
}

.list-item i {
  color: #c1c1c1;
}

.split-list-view {
  vertical-align: middle;
  position: relative;
}

.split-list-view-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-12px) translateX(-13px);
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: #ffffff;
  font-size: 7px;
}

.split-list-view img {
  height: 20px;
  vertical-align: middle;
  margin: 0 4px;
}

.split-list-view-left {
  padding: 12px 12px 12px 8px;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

.split-list-view-right {
  padding: 12px 8px 12px 12px;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}
.split-list-view-left {
  text-align: right;
  animation-name: slide-in-left;
}
.split-list-view-right {
  animation-name: slide-in-right;
}
