.list-view{
  height: 20px;
  padding: 10px;
}

.list-item{
  padding: 20px;
  display:flex;
  justify-content: space-between;
}


.split-list-view {
  vertical-align: middle;
  border-bottom: 1px solid #e5e5e5;
}
.split-list-view:first-child {
  border-top: 1px solid #e5e5e5;
}
.split-list-view img {
  height: 20px;
  vertical-align: middle;
  margin: 0 3px;
}
.split-list-view-left,
.split-list-view-right {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width:50%;
  padding: 8px;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}
.split-list-view-left {
  text-align: right;
  animation-name: slide-in-left;
}
.split-list-view-right {
  animation-name: slide-in-right;
}
