.navbar-header {
  color: #999999;
  font-family: 'Lato', sans-serif;
  letter-spacing: 2.7px;
  font-size: 18px;
}

.navbar-main {
  box-sizing: border-box;
  height: 9vh;
}

.navbar-secondary {
  box-sizing: border-box;
  background-color: #f9f9f9;
  height: 9vh;
  padding: 4px 8px;
}

.navbar-right {

}

.navbar-right a {
  color: #4a89dc;
}

.navbar-footer {
  /*background-color: #f9f9f9;
  border-top: 1px solid #f6f6f6;*/
}

.navbar-footer a {
  color: #c1c1c1;
}
