.navbar-header {
  color: #999999;
  font-family: 'Lato', sans-serif;
  letter-spacing: 2.7px;
  font-size: 18px;
}

.navbar-secondary {
  background-color: #f9f9f9;
  height: 6vh;
  padding: 4px;
}

.navbar-right {

}

.navbar-right a {
  color: #4a89dc;
}
