.speech-bubble{
  background-color: #e5e5e5;
  padding: 5px 10px;
  margin: 5px 10px;
  border-radius: 4px;
  max-width: 60%;
  font-size: 16px;
  word-wrap: break-word;
}

.speech-bubble:last-child {
  margin-bottom: 10px;
}

.speech-bubble:first-child {
  margin-top: 10px;
}
