.tags {
  position: relative;
}

.tag {
  height: 20px;
  width: 20px;
  line-height: 20px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  border: 1px solid transparent;
  color: #e6e6e6;
}

.tag-points {
  border: 3px solid #ffffff;
}

.tag-large{
  height:30px;
  width:30px;
  line-height: 24px;
  font-size: 12px;
  color: #4a89dc;
}

.tag + .tag {
  margin-left: 5px;
}

.tag-animate {
  position: absolute;
}

.tag-success {
  background-color: rgba( 255,255,255,0.7 );
  border: 1px solid #37bc9b;
  color: #37bc9b;
}

.tag-warning {
  background-color: rgba( 255,255,255,0.7 );
  border: 1px solid  #fc6e51;
  color:  #fc6e51;
}

.tag-simple {
  background-color: #c1c1c1;
  color: #FFFFFF;
}

.tag-active {
  background-color: #4a89dc;
  color: #FFFFFF;
}

.tag-inverse {
  background-color: transparent;
  color: #4A5D58;
  border: 1px solid #4A5D58;
}
